body {
  background-color: #d56600;
  font-family: "Poppins";
}

.social-icons img {
  width: 40px;
  height: 80px;
  filter: brightness(0);
}

.card {
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.icon {
  transition: all 0.3s;
}

.icon:hover {
  transform: scale(1.50);
}