body {
  font-family: "Poppins";
  background-image: linear-gradient(
    to left bottom,
    #7c746d,
    #937860,
    #aa7b52,
    #c07e45,
    #d77f37,
    #d07035,
    #c96234,
    #c15333,
    #933b33,
    #62282c,
    #33181d,
    #000000
  );
}

.temp-main {
  background: url("/img/bg1.jpg") no-repeat;
  background-size: cover;
  background-size: 1910px 880px;
}

.social-icons img {
  width: 60px;
  height: 80px;
  filter: brightness(0);
}

.card {
  transition: all 0.3s;
  box-shadow: -10px 15px rgba(0, 0, 0, 0.281);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 100px rgba(0, 0, 0, 0.2);
}

.icon {
  transition: all 0.3s;
}

.icon:hover {
  transform: scale(1.5);
}

#nameTag {
  color: #ff8d15;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.3;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

#team-section,
#team-photo-description,
#portfolio-section,
#portfolio-profile {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.btn-learn-more {
  background-color: #fd6f00;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: 2px solid #000;
}

.btn-learn-more:hover {
  background-color: #d9d9d980;
  color: #000;
  border: 2px solid #000;
}

.btn-contact-us {
  background-color: #fd6f00;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: 2px solid #000;
}

.btn-contact-us:hover {
  background-color: #d9d9d980;
  color: #000;
  border: 2px solid #000;
}

.card-img-top {
  height: 300px; /* Set a fixed height for images */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}
.small-description {
  font-size: 0.8rem; /* Adjust font size for smaller devices */
}