body {
    background-color: #1E1E1E;

}
.container {
    height: 100px;
    width: 100px;
}
header{
    color:#C88D2F;
   display: flex;
   justify-content: space-between;
}

ul{
   height: 50px;
   width: 450px;
   margin-top: 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-right: 10px;
   margin-left: 400px;
   color:#C88D2F;
}

ul li{
   list-style: none;
   font-size: 25px;
   color: #C88D2F;
}
img {
    height: 90px;
    width: 87;
    margin-top: 10px;
    margin-left: 50px;
}
main{
    height: 500px;
    display: flex;
    align-items: space-around;
    background-color: #FF8409;
    margin: 20px;
}
.container2 {
    height: 450px;
    width: 400px;
    margin: 20px;
    background-color: #1E1E1E;
    border-radius: 20px;
}
.profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #FF8409;
}
.contents h1 {
    font-size: 55px;
}

.contents p {
    font-size: 20px;
}
.container2 h1 {
    margin-left: 20px;
    font-size: 15px;
    color: #FF8409;
}
.container2 p{
    font-size: 20px;
    color: #F0ECCF;
}
.devicon--facebook {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Crect width='118.35' height='118.35' x='4.83' y='4.83' fill='%233d5a98' rx='6.53' ry='6.53'/%3E%3Cpath fill='%23fff' d='M86.48 123.17V77.34h15.38l2.3-17.86H86.48v-11.4c0-5.17 1.44-8.7 8.85-8.7h9.46v-16A127 127 0 0 0 91 22.7c-13.62 0-23 8.3-23 23.61v13.17H52.62v17.86H68v45.83z'/%3E%3C/svg%3E");
  }
  .marketeq--email-file {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke='%23344054' d='M33.333 6.25v4.167H37.5zm-9.479 24.23a2.08 2.08 0 0 0 2.292 0L37.5 22.916v-12.5L33.333 6.25h-18.75A2.083 2.083 0 0 0 12.5 8.333v14.584z'/%3E%3Cpath stroke='%23306cfe' d='m26.146 30.48l14.375-9.647a2.083 2.083 0 0 1 3.229 1.73v19.104a2.083 2.083 0 0 1-2.083 2.083H8.333a2.083 2.083 0 0 1-2.083-2.083V22.646a2.084 2.084 0 0 1 3.23-1.813l14.374 9.563a2.08 2.08 0 0 0 2.292.083'/%3E%3C/g%3E%3C/svg%3E");
  }
  .noto--mobile-phone {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23424242' d='M87.4 124H40.6c-4.7 0-8.6-3.8-8.6-8.6V12.6C32 7.9 35.9 4 40.6 4h46.8c4.7 0 8.6 3.8 8.6 8.6v102.9c0 4.7-3.9 8.5-8.6 8.5'/%3E%3Cpath d='M86.77 120.11H39.93c-2.15 0-3.89-1.74-3.89-3.89V19.65c0-2.14 1.74-3.88 3.88-3.88h48.15c2.15 0 3.89 1.74 3.89 3.89v95.93c0 .93-1.4 4.52-5.19 4.52'/%3E%3Cpath fill='%23212121' d='M73.65 11.59h-19.2c-.7 0-1.2-.6-1.2-1.2s.6-1.2 1.2-1.2h19.1c.7 0 1.2.6 1.2 1.2s-.5 1.2-1.1 1.2'/%3E%3Cpath fill='%23757575' d='M87.4 6c3.64 0 6.6 2.96 6.6 6.6v102.9c0 3.58-2.96 6.5-6.6 6.5H40.6c-3.64 0-6.6-2.96-6.6-6.6V12.6C34 9.02 37.02 6 40.6 6zm0-2H40.6C35.9 4 32 7.9 32 12.6v102.8c0 4.8 3.9 8.6 8.6 8.6h46.8c4.7 0 8.6-3.8 8.6-8.5V12.6C96 7.8 92.1 4 87.4 4'/%3E%3Cpath fill='%23eab56e' d='M48.35 29.96h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%23fb8c00' d='M60.9 29.96h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%23ff80ab' d='M73.45 29.96H67.1c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.33 1.32'/%3E%3Cpath fill='%230288d1' d='M86.01 29.96h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%2300bfa5' d='M48.35 44.12h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%2381d4fa' d='M60.9 44.12h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%23fb8c00' d='M73.45 44.12H67.1c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.33 1.32'/%3E%3Cpath fill='%23eab56e' d='M86.01 44.12h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%23fb8c00' d='M48.35 58.28h-6.36c-.73 0-1.32-.59-1.32-1.32V50.6c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%23ff80ab' d='M60.9 58.28h-6.36c-.73 0-1.32-.59-1.32-1.32V50.6c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%2300bfa5' d='M73.45 58.28H67.1c-.73 0-1.32-.59-1.32-1.32V50.6c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.33 1.32'/%3E%3Cpath fill='%230288d1' d='M86.01 58.28h-6.36c-.73 0-1.32-.59-1.32-1.32V50.6c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32M48.35 72.44h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%2381d4fa' d='M60.9 72.44h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .73-.59 1.32-1.32 1.32m-12.55 42.48h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .72-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%230288d1' d='M60.9 114.92h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .72-.59 1.32-1.32 1.32'/%3E%3Cpath fill='%2300bfa5' d='M73.45 114.92H67.1c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .72-.59 1.32-1.33 1.32'/%3E%3Cpath fill='%23ff80ab' d='M86.01 114.92h-6.36c-.73 0-1.32-.59-1.32-1.32v-6.36c0-.73.59-1.32 1.32-1.32h6.36c.73 0 1.32.59 1.32 1.32v6.36c0 .72-.59 1.32-1.32 1.32'/%3E%3C/svg%3E");
  }
  .skill-icons--instagram {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='url(%23skillIconsInstagram0)' rx='60'/%3E%3Crect width='256' height='256' fill='url(%23skillIconsInstagram1)' rx='60'/%3E%3Cpath fill='%23fff' d='M128.009 28c-27.158 0-30.567.119-41.233.604c-10.646.488-17.913 2.173-24.271 4.646c-6.578 2.554-12.157 5.971-17.715 11.531c-5.563 5.559-8.98 11.138-11.542 17.713c-2.48 6.36-4.167 13.63-4.646 24.271c-.477 10.667-.602 14.077-.602 41.236s.12 30.557.604 41.223c.49 10.646 2.175 17.913 4.646 24.271c2.556 6.578 5.973 12.157 11.533 17.715c5.557 5.563 11.136 8.988 17.709 11.542c6.363 2.473 13.631 4.158 24.275 4.646c10.667.485 14.073.604 41.23.604c27.161 0 30.559-.119 41.225-.604c10.646-.488 17.921-2.173 24.284-4.646c6.575-2.554 12.146-5.979 17.702-11.542c5.563-5.558 8.979-11.137 11.542-17.712c2.458-6.361 4.146-13.63 4.646-24.272c.479-10.666.604-14.066.604-41.225s-.125-30.567-.604-41.234c-.5-10.646-2.188-17.912-4.646-24.27c-2.563-6.578-5.979-12.157-11.542-17.716c-5.562-5.562-11.125-8.979-17.708-11.53c-6.375-2.474-13.646-4.16-24.292-4.647c-10.667-.485-14.063-.604-41.23-.604zm-8.971 18.021c2.663-.004 5.634 0 8.971 0c26.701 0 29.865.096 40.409.575c9.75.446 15.042 2.075 18.567 3.444c4.667 1.812 7.994 3.979 11.492 7.48c3.5 3.5 5.666 6.833 7.483 11.5c1.369 3.52 3 8.812 3.444 18.562c.479 10.542.583 13.708.583 40.396s-.104 29.855-.583 40.396c-.446 9.75-2.075 15.042-3.444 18.563c-1.812 4.667-3.983 7.99-7.483 11.488c-3.5 3.5-6.823 5.666-11.492 7.479c-3.521 1.375-8.817 3-18.567 3.446c-10.542.479-13.708.583-40.409.583c-26.702 0-29.867-.104-40.408-.583c-9.75-.45-15.042-2.079-18.57-3.448c-4.666-1.813-8-3.979-11.5-7.479s-5.666-6.825-7.483-11.494c-1.369-3.521-3-8.813-3.444-18.563c-.479-10.542-.575-13.708-.575-40.413s.096-29.854.575-40.396c.446-9.75 2.075-15.042 3.444-18.567c1.813-4.667 3.983-8 7.484-11.5s6.833-5.667 11.5-7.483c3.525-1.375 8.819-3 18.569-3.448c9.225-.417 12.8-.542 31.437-.563zm62.351 16.604c-6.625 0-12 5.37-12 11.996c0 6.625 5.375 12 12 12s12-5.375 12-12s-5.375-12-12-12zm-53.38 14.021c-28.36 0-51.354 22.994-51.354 51.355s22.994 51.344 51.354 51.344c28.361 0 51.347-22.983 51.347-51.344c0-28.36-22.988-51.355-51.349-51.355zm0 18.021c18.409 0 33.334 14.923 33.334 33.334c0 18.409-14.925 33.334-33.334 33.334s-33.333-14.925-33.333-33.334c0-18.411 14.923-33.334 33.333-33.334'/%3E%3Cdefs%3E%3CradialGradient id='skillIconsInstagram0' cx='0' cy='0' r='1' gradientTransform='matrix(0 -253.715 235.975 0 68 275.717)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fd5'/%3E%3Cstop offset='.1' stop-color='%23fd5'/%3E%3Cstop offset='.5' stop-color='%23ff543e'/%3E%3Cstop offset='1' stop-color='%23c837ab'/%3E%3C/radialGradient%3E%3CradialGradient id='skillIconsInstagram1' cx='0' cy='0' r='1' gradientTransform='matrix(22.25952 111.2061 -458.39518 91.75449 -42.881 18.441)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233771c8'/%3E%3Cstop offset='.128' stop-color='%233771c8'/%3E%3Cstop offset='1' stop-color='%2360f' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
  }
  .devicon--linkedin {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%230076b2' d='M116 3H12a8.91 8.91 0 0 0-9 8.8v104.42a8.91 8.91 0 0 0 9 8.78h104a8.93 8.93 0 0 0 9-8.81V11.77A8.93 8.93 0 0 0 116 3'/%3E%3Cpath fill='%23fff' d='M21.06 48.73h18.11V107H21.06zm9.06-29a10.5 10.5 0 1 1-10.5 10.49a10.5 10.5 0 0 1 10.5-10.49m20.41 29h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75v32H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53z'/%3E%3C/svg%3E");
  }
.contents {
    margin-left: 8px;
    height: 200px;
    width: 500px;
}
.contents img {
    width: 200px;
    height: 200px;
    margin-left: 500px;
    display: flex;
    align-items: flex-end;
    
}
main img {
    width:  200px;
    height: 200px;
    margin-top: 20px;
}
.container3 {
    height: 500px;
    display: flex;
    align-items: space-around;
    background-color: #FF8409;
    margin: 20px;
    
}
.Cert1 {
    height: 450px;
    width: 600px;
    margin: 20px;
    background-color: #1E1E1E;
    border-radius: 20px;
}
.Cert1 img{
    width: 300px;
    height: 250px;
    display: flex;
    
}

  /* Fade-in effect */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  body {
    animation: fadeIn 2s ease-in;
  }
  .game-icons--cobweb {
    display: inline-block;
    width: 50px;
    height: 50px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M17.91 19.47v13.06l52.47 43.78c-18.59 8.2-37.3 21.44-52.47 38.59v46.8l64.84 83.9c-22.51 12.6-46.07 25.8-64.84 46.3v51.3l32.25 77.7c-10.96-.2-21.82.9-32.25 3.9v19.6c12.22-4.5 25.81-5.7 40.18-4.5l21.85 52.6h20.26l-23.82-57.2c33.22-26.5 75.12-43.6 118.92-44.1l70.2 90.8c-25.2 1.4-53.2 3.2-76.7 10.5h109.5c36.5-59.5 75.1-101.7 136.1-111.3c18.6 11.7 39.2 31.5 56.9 46.3v-24.3l-49.6-41.4c-3.5-68.9 17.1-117.9 41.6-151.9l8 4V193l-9.5-4.8c-7.9-20.4-13.1-46.8-12.5-73.1c.5-27.64 7.2-54.92 22-75.79V19.56c-89.2-.19-178.5-.1-267.7-.1l138 9.71c-6 15.42-11.8 31.44-15.1 47.88c-2.8 13.73-3.6 27.94-.9 41.94L205.9 48.06c-1.7-9.81-4.3-19.91-4-28.59h-18.8c-.2 6.08.4 12.01 1.4 17.72l-34.8-17.72H91.59C84.78 30.98 79.9 43.79 77.78 58.13L31.47 19.47zm94.59 2.06l69.3 35.22c-11.5 20.26-20.8 43.45-22.3 69.55L95.16 72.62c.28-20.5 6.64-36.54 17.34-51.09m268.6 9.03l89.5 6.28c-13.7 23.26-19.5 50.87-20 77.86c-.5 21.5 2.4 42.6 7.6 61.5l-89.5-45.5c-7.3-15.7-7.4-32.2-3.9-49.98c3.3-16.21 9.7-33.17 16.3-50.16M198.4 65.19L343.7 139c-29.9 27.3-43.5 62.8-46.5 102.3l-119.1-99.5c-.7-27.3 9-56.61 20.3-76.61M86.6 89.84l64.3 53.66c-24.2 21.4-46.4 48.6-59.21 83.1l-68.35-88.4c17.72-20.3 40.29-40.09 63.26-48.36m275 58.26l105 53.3c-23.7 33.9-43.7 81.4-43.9 144.6l-107.6-89.8c5.3-44.7 19.8-85.6 46.5-108.1m-196.3 7.5l125.8 104.9c-39.4 22.5-74.7 53.8-94.1 102.3l-91.6-118.5c13.6-35.7 35.3-67.1 59.9-88.7M94.31 260.5l87.29 112.9C140 376.7 101 393.2 69 417.5L25.25 312.2c20.06-23.3 46.89-39.2 69.06-51.7m212.09 12.7l110.8 92.5C359 380 319.9 423.2 285.7 477.6l-75.3-97.4c20.5-48 58.3-86.2 96-107'/%3E%3C/svg%3E");
    background-color: #FF8409;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .button-container {
    display: flex;
    gap: 5px; /* Space between the buttons */
  }

  .button-link {
    text-decoration: none; /* Remove underline from link */
  }
  
  /* Styles for the buttons */
  .square-button {
    width: 150px;
    height: 50px;
    background-color: #333;
    color: white;
    border: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Initial subtle shadow */
  }
  
  /* Hover effect - button lights up */
  .square-button:hover {
    background-color: #f58634; /* Changes to a bright orange color */
    box-shadow: 0 0 15px rgba(245, 134, 52, 0.8), 0 0 25px rgba(245, 134, 52, 0.6); /* Glow effect */
    transform: scale(1.1); /* Slightly enlarges the button */
  }