body {
  font-family: "Poppins";
  background-image: url("/img/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn-learn-more {
  background-color: #d77f37;
}

#nameTag {
  color: #ff8d15;
}
